.DiaryEntries {
  /* border: 1px solid red; */
  margin: 20px auto;
}

/* .DiaryEntries {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 10px auto;
  padding: 0 20px;
}

.entry-description {
  text-align: left;
  padding: 5px 0;
}
.entry-date {
  padding: 5px 0;
}
ul {
  display: flex;
  flex-direction: column;
}

.entry-delete {
  background-color: red;
} */
